
/* Importing Normalize css */
@import url("normalize.css");


*{
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.5;
}
a {
    text-decoration: none;
}
body{
    /* background-image: url("https://source.unsplash.com/user/willianjusten"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: hidden;
    background-color: #e8eff5;
   
}

/* .container{
    width: 800px;
    margin: 0 auto;
} */

.heading{
    text-align: center;   
}
.flex{
    display: flex;
    /* flex-flow: row nowrap; */
    justify-content: space-between;
    /* align-items: center; */
    gap: 5rem;
}

.search-bar-container  {
    width: 43.75rem;
    /* display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    justify-items: center; */
    /* margin: 0 auto; */
    margin: 7rem auto 0 auto;
}
/* .search-bar-container{
    display: inline-block;
    justify-content: center;
    align-content: center;
} */
.form {
    padding: .7rem;
    /* width: ; */
    color: honeydew;
    text-align: center;
    /* box-shadow: 2px 0 0 gray; */
    box-shadow: 7px 7px 15px #bbcfdaef, -4px -4px 13px rgba(255, 255, 255, 0.87),
        inset 4px 4px 8px rgba(209, 217, 230 , 0.2),
        inset -8px -8px 8px rgba(255, 255, 255 , 0.2);


     
    /* outline: none; */
    /* border: 1px solid black; */
    /* color: coral; */
    text-align: left;
    background-color: #e8eff5;
    border-radius: 15px;
    font-weight: 500;
    font-size: 1.5rem;
    margin-top:-3.5rem;
    margin-bottom: 2rem;
}

.form input {
    border: none;
    outline: none;
    padding: .3rem;
    width: 100%;
    background-color: transparent;
    color: rgba(0, 0, 0, 0.692);
}
.form input:focus{
    /* border: 2px solid aqua; */
    transform: scale(1);
    /* background-color: rgba(15, 15, 15, 0.699); */
}

.dropdown-parent {
    /* background-color: black; */
    color: blanchedalmond;
     height: 2rem;
    width: 2rem; 
    margin-left: 1rem;
    /* padding: 1rem 1rem; */
    /* position: absolute; */
}
.fa-chevron-circle-down  {
    /* padding: 1rem; */
    font-size: 2rem;
    text-align: center;
    /* color:rgba(15, 15, 15, 0.699); */
    color: grey;
    border-radius: 50%;
    box-shadow: 7px 7px 15px #bbcfdaef, -4px -4px 13px rgba(255, 255, 255, 0.87),
        inset 4px 4px 8px rgba(209, 217, 230 , 0.2),
        inset -8px -8px 8px rgba(255, 255, 255 , 0.2);

    

}
.dropdown-one{
    display: none;
    position: relative;
}
.dropdown:hover > .dropdown-one{
    display: block;  
}
.dropdown-one {
    /* margin-top: 15px; */
    width: 4rem;
    margin: 0 auto;
    text-align: center;
    /* padding: 15px; */
    /* margin-left: -10px; */
    transform: translateX(-30%);
    position: relative;
    z-index: 10000;
}

li{
    cursor: pointer;
    border-bottom: 1px solid gray;
    padding: .8rem;
    background-color: #e8eff5;
    color: grey;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.4),
    -2px -2px 5px rgba(255, 255, 255,1),
    inset -5px -5px 5px rgba(200,200,200,1);

}

.dropdown-one li:hover{
    background-color: rgb(195, 188, 188);
}


/* CSS FOR ARTICLE */
.article-container {
    background: #e8eff5;
    /* background-color:rgb(38, 40, 43); */
    max-width: 700px;
    margin: 0 auto;
    /* border: 1px solid black; */
    /* padding: 4rem; */
    border-radius: 15px;
    
    box-shadow: 7px 7px 15px #bbcfdaef, -4px -4px 13px rgba(255, 255, 255, 0.87),
    inset 4px 4px 8px rgba(209, 217, 230 , 0.2),
    inset -8px -8px 8px rgba(255, 255, 255 , 0.2);

    
}
a {
    text-decoration: none;
}
h1{
    color: black
}
.article {
    text-align: center;
    margin-top: 4rem;
    padding-top: 1rem;
    /* height: 100vh; */
}
.image {
    width: 60%;
    border-radius: 12px;
    box-shadow: 12px 12px 80px black;
}
.brd a{
    display: none;
}
* .card .art-bd-img {
    height: 12.5rem;
}


.card {
    width: 400px !important;
}

.embedly-card-hug {
    height: 342px;
    overflow-y: scroll;
}

/* slider */
.switch {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 27px;
    margin: 0.5rem;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(58, 60, 61);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: #e8eff5;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  
  input:checked + .slider {
    background-color: #e8eff5;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
    background-color: gray;
  }
  


  .bs2 {
    box-shadow: 7px 7px 40px #000000ef, -8px -8px 20px rgba(90, 90, 90, 0.87),
    /* inset 4px 4px 8px rgba(209, 217, 230 , 0.2), */
    inset -2px -2px 8px rgba(0, 0, 0, 0.2);
  }
  .bg2 {
    background-color:rgb(38, 40, 43);

  }
  .bs3{
    box-shadow: 7px 7px 40px #000000ef, -2px -2px 5px rgba(90, 90, 90, 0.87),
    /* inset 4px 4px 8px rgba(209, 217, 230 , 0.2), */
    inset -2px -2px 8px rgba(0, 0, 0, 0.2);
  }